
body{ font-family: Arial, Helvetica; 
	background-color: #eeeeee;
	margin: 0 auto;
	
	}

#container {
		position:relative;}



header{
		width:900px;
		padding:30px;
		clear:both;
		background-color: #ffffff;
		border-bottom: 5px solid #cccccc;
		position: relative;

		}

ul { list-style-type:none;
margin:0;
padding: 0;
overflow: hidden;
background-color: #ffffff; }

li { float: right; }

li a {display: block;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;}




h1{font-family: Georgia, times, 'times new roman'; 
float:left;
 width:25%;
 color:#ffffff;
background:#4aaaa5;
position: absolute;
padding: 20px;
bottom:0;
margin:0 auto;
line-height:50px;
}


h2{font-family: Georgia, times, 'times new roman'; }
h3{font-family: Georgia, times, 'times new roman'; }





#index-content {
				width: 30%;
				padding:25px;
				float:left;
				margin: 20px 10px 20px 40px;
				background: #ffffff;
				line-height:20px;
				border: 1px solid #dddddd;
}
#index-content img { float: left;
			height: 50%;
			width: 50%;
			margin: 5px; }

#mylinks {
		float: left;
		width: 30%;
		background: #ffffff;
		margin: 20px 10px 10px 10px;
		border: 1px solid #dddddd;

}

#mylinks img{ height:15%;
				width: 15%; 
				margin: 5px;}



#footer{
	border: 5px solid #4aaaa5;
	border-width:5px 0px 0px 0px;
	font-size: 10px;
	text-align:center;
	line-height:30px;
	clear:both;
	margin:0 auto;
	background: #666666;
	color:#ffffff;
	width:900px;
	position:absolute;
	bottom:0;
}